<div class="modal fade" [id]="modalId">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="bugForm" #form>
        <div class="modal-body">
          <fieldset class="form-inline">
            <div class="form-group" id="title-form-group">
              <label for="title-field" class="sr-only">Bug Title</label>
              <input type="text" class="form-control" maxlength="40" id="title-field" placeholder="Bug Title" formControlName="title">
            </div>
            <button class="btn btn-default pull-right" *ngIf="updatedBug" type="submit" data-dismiss="modal" (click)="deleteBug(bug)"><span class="glyphicon glyphicon-trash"></span></button>
          </fieldset>
          <div class="form-group float-sm-left" id="status-form-group">
            <div class="form-group">
              <label for="status-dropdown" class="sr-only">Status</label>
              <select id="status-dropdown" class="form-control btn btn-primary" formControlName="status">
                <option *ngFor="let status of statusArr" [value]="status">{{statuses[status]}}</option>
              </select>
            </div>
              <div class="form-group float-sm-left" id="severity-form-group">
                <label for="severity-dropdown" class="sr-only">Severity Dropdow</label>
                  <select id="severity-dropdown" class="form-control btn btn-primary" formControlName="severity">
                    <option *ngFor="let severity of severityArr" [value]="severity">{{severities[severity]}}</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
            <label for="desc-area" class="se-only">Description</label>
            <textarea id="desc-area" rows="10" class="form-control" maxlength="50" placeholder="Type a description of your bug" formControlName="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success suc" type="submit" data-dismiss="modal" (click)="submitForm()"><span class="glyphicon glyphicon-ok"></span> Save</button>
          <button class="btn btn-danger" type="button" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
